@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Your color variables */
  }

  .dark {
    /* Your dark mode color variables */
    
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;

    /* Add background image */

  }
}
